@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<hr />
<h6><strong>A Revolutionary Approach to Healthcare</strong></h6>
<p>
    We're harnessing the collective wisdom of a global, online medical community
    to provide patients with a clear path to their diagnosis and cure.
    
</p>
<h6><strong>Groups are more powerful than individuals</strong></h6>
<p>
    It is simply impossible for one doctor to have all the answers,
    to know everything about every one of the 13,000 potential medical conditions
    that may be causing your symptoms. This is the problem OMDACS was designed to solve.
    We bring together sets of various expertise to create an incredibly well-rounded base of medical knowledge,
    heightening your case exposure and the probability that someone with the correct knowledge will be able to see your case.
</p>
<h6><strong>Health issues can be diagnosed by anyone, not just doctors</strong></h6>
<p>
    Before coming to us for help, OMDACS's patients suffered an average of six years, 
    consulting with at least eight different doctors and incurring<br />more than $50,000 in medical expenses
    - with no definitive diagnosis. After joining OMDACS, most patients' cases have been solved in weeks,<br />
    with more than 80% of diagnostic suggestions reported accurate by patients.
</p>
<h6><strong>Personalized medicine for everyone</strong></h6>
<p>
    When patients come to OMDACS, we take a personal interest--this is not a conveyer belt operation.
    We not only offer medical advice, but support throughout the medical process. Treatment without
    support is ineffective. Our Medical Detectives work the patient’s case not only utilizing thepatient’s
    medical history and symptoms, but the patient’s own feedback and contributions done via our chat and discussion features.
</p>
<h6><strong>People want to help one another</strong></h6>
<p>While it’s obvious that OMDACS fills a very evident void for patients in the healthcare system--we are also providing
    an outlet for Medical Detectives as well. The business of medicine has become exactly that, a business. Patient care is
    no longer the primary focus, it’s about turn over, getting as many patients in as possible by end of day to increase your billing.
    It is not surprising to hear that many doctors have grown tired of this and they want to get back to the roots of why they decided
    to study medicine: to help people. OMDACS offers them this opportunity with our patient centric mentality. According to MD feedback,
    this is one of the biggest pros about becoming a Medical Detective for OMDACS.</p>