@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<hr />
<address>
    Atakoy Istanbul,<br />
    34000, Turkey<br />
    <abbr title="Phone">Phone:</abbr>
    +90 555 555 5555
</address>
<address>
    <strong>Info: </strong><a href="mailto:info@gmail.com">info@gmail.com</a><br />
</address>