@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron index-image">
    <h1>OMDACS</h1>
    <p class="lead">
        OMDACS gets patients on the right path to a cure<br />
        You can be next
    </p>
    <p><a href="@Url.Action("Post", "Home")" class="btn btn-info btn-lg">Open Your Case &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4 mx-auto my-5 index-card">
        <h2>Post the Case</h2>
        <p>
            Patients share their case with the OMDACS community by
            answering our online questionnaire that covers their
            medical history, current symptoms, and personal story.
        </p>
        
    </div>
    <div class="col-md-4 mx-auto my-5 index-card">
        <h2>Community Gets To Work</h2>
        <p>
            Community lend their unique sets of 
            expertise to work together and provide patients 
            with information to solve their case.
        </p>
        
    </div>
</div>